{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}

<center>
    <div class="container">
        <h1>About the Creator</h1>
        <p>My name is Kaitlyn and I am an aspiring web devloper. I have been taking classes since May of 2018 in IT and I love every minute of it.
            It can get challenging at times, but that's just when the fun begins. My favorite class so far has been Javascript with this class 
            coming in second. I was honestly scared to learn Python but I'm glad I just dove in and went for it, because making this site 
            and just constantly learning about Python is too much fun! Making websites is where I can be creative and creating something from scratch
            and watching it grow is an amazing feeling. My end goal is to eventually work as a front end developer or full stack dev at a travel 
            company or airline, as traveling is one of my biggest passions. I'm currently set to graduate in spring of 2021, and I'm eager to see
            what the future holds for me.
        </p>
        <p>I originally have a BS in Biology but decided to pursue IT since I love working with computers and wanted to learn coding. I also have 
            a background in music and got a music minor in performance when I graduated college. I played clarinet since 5th grade and all through 
            college and even learned how to compose electronic music for fun on the side. 
        </p>
        <p>What I do on the side for hobbies includes: video games (PC gamer using the PC I built), listening to music, hang with friends,
            go to music shows, traveling, watching videos on YouTube, and cosplay (making costumes for comic cons).
        </p>
    </div>
</center>
    <div class="container">
        <h5>Because I love music so much, here are some links to what I'm currently listening to:</h5>
        <p><a href="https://www.youtube.com/watch?v=38R-00fETao&list=PLaiJpSAavI05UTpf48wPbQrCIc6Bkkh20&index=111&t=0s" target="_blank">https://www.youtube.com/watch?v=38R-00fETao&list=PLaiJpSAavI05UTpf48wPbQrCIc6Bkkh20&index=111&t=0s</a></p>
        <p><a href="https://www.youtube.com/watch?v=U7qV5JRhDtg" target="_blank">https://www.youtube.com/watch?v=U7qV5JRhDtg</a></p>
        <p><a href="https://www.youtube.com/watch?v=ZwHVxavWAiU" target="_blank">https://www.youtube.com/watch?v=ZwHVxavWAiU</a></p>

    </div>

{% endblock %}