{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<center>
    <div class="container">
        <img src="{{url_for('static', filename='groot.gif')}}" />
    </div>
    <div class="container">
        <h4 class="h4style">Welcome to my very first Python made web application. I'm really excited to have you here, this will be my 5th working website and first one 
            using Python as the backend. I never thought Python could be used this way to make websites and web apps but I am having a lot of fun with it
            so far. I would love to make future websites using Python to see what else I can learn through the process. My project is pretty simple, it has
            3 pages, the one you are on, the About page and the Login page which houses a form to use to sign up. Once you sign up a fun surprise appears :)
        </h4>
        <h4 class="h4style">To get started, you can either navigate to my About page first or go straight to the Login page.</h4>
    </div>





</center>
{% endblock %}