<html>
    <head>
        <title>Request Timezone</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <center>
            <h1>Click the button to find your timezone!</h1>
            <img src="{{url_for('static', filename='earth.png')}}" height="550px" width="700px"/>
            <div>
                <form method="POST" action="/time">
                    <button type="submit" class="btn btn-primary">Find Out Now!</button>
                </form>
            </div>
        </center>
    </body>
</html>